numpy
torch
faiss-gpu; sys_platform == 'linux-64'
faiss-cpu; sys_platform == 'win32'
pandas
transformers
packaging
datasets
gensim
nltk
wordcloud
spacy
rich
nlg-metricverse==0.9.9

# Backend
fastapi
uvicorn
#'uvicorn[standard]'